{% extends 'base.html.twig' %}

{% block title %}Mes tâches{{parent()}}{% endblock %}

{% block main %}

  <h2>Liste des tâches</h2>
<ul class="list-group mb-3">
  {% for todo in todos %}
      <li class="list-group-item">
        {% if todo.status == 'done' %}
        <a href="{{ path('todo_set_status', {'id': loop.index0, 'status': 'undone'}) }}"><i class="far fa-check-square"></i></a>
        <a href="{{ path('todo_show', {'id': loop.index0}) }}" class="done">{{ todo.task }}</a>
        {% else %}
            <a href="{{ path('todo_set_status', {'id': loop.index0, 'status': 'done'}) }}"><i class="far fa-square"></i></a>
            <a href="{{ path('todo_show', {'id': loop.index0}) }}">{{ todo.task }}</a>
        {% endif %}
        <i class="fas fa-times"></i>
      </li>
  {% endfor %}
</ul>

  {{ include('todo/_todo_add_form.html.twig') }}

  <p><a href="{{ path('todo_reset') }}" class="text-danger">Réinitialiser les tâches (dev).</a></p>

{% endblock %}
